@-webkit-keyframes notification-show {
    0% {
        opacity: 0;
        transform: perspective(450px) translate(0, -30px) rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: perspective(450px) translate(0, 0) rotateX(0deg);
    }
}
@-webkit-keyframes notification-hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}
@-webkit-keyframes notification-shrink {
    0% {
        opacity: 0;
        max-height: 800px;
        transform: scale(0.8);
    }
    100% {
        opacity: 0;
        max-height: 0;
        transform: scale(0.8);
    }
}
notifications {
    display: block;
    z-index: 20000;
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-size: 1.2em;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
}
notifications.enable-pointer-events {
    pointer-events: auto;
}
notifications::-webkit-scrollbar {
    display: none;
}
notification {
    float: right;
    clear: right;
    position: relative;
    width: 450px;
    /*height: 50px;*/
    padding-left: 30px;
    margin-bottom: 3px;
    max-height: 800px;
    word-wrap: break-word;
    pointer-events: auto;
    -webkit-animation: notification-show 0.16s cubic-bezier(0.175, 0.885, 0.32, 1.27499);
}
notification::before {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    padding-top: 7px;
    text-align: center;
    font-family: 'Octicons';
    display: inline-block;
    font-size: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    content: "";
}
notification::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    box-sizing: border-box;
}
notification.notify-success::before {
    background-color: #20b684;
    content: "\f03a";
    width: 30px;
}
notification.notify-warning::before {
    background-color: #cc8533;
    content: "\f02d";
    width: 30px;
}
notification.notify-info::before {
    background-color: rgb(0, 136, 255);
    content: "\f059";
    width: 30px;
}
notification.notify-error::before {
    background-color: rgb(217, 38, 38);
    content: "\f0d2";
    width: 30px;
}
notification .content {
    color: #555;
    background-color: white;
}
notification.notify-success .content {
    background-color: #70e6be;
}
notification.notify-warning .content {
    background-color: rgb(230, 194, 153);
}
notification.notify-info .content {
    background-color: rgb(128, 195, 255);
}
notification.notify-error .content {
    background-color: rgb(236, 147, 147);
}
notification .content {
    border-radius: 0 3px 3px 0;
}
notification .content .item {
    padding: 0.75em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
notification .content .item:first-child {
    border-top: 0;
}
notification.has-close .content .item:first-child {
    padding-right: 34px;
}
notification .content .content-message {
    font-weight: bold;
    font-size: 13px;
}
notification .content .content-detail, notification .content .content-custom {
    font-size: 13px;
}
notification .content .content-custom {
    background-color: rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
}
notification .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
    color: black;
    opacity: .4;
    cursor: pointer;
    display: none;
}
notification.has-close .btn-close {
    display: block;
}
notification.has-close .btn-close:hover {
    opacity: 1;
}
notification .btn-close-all {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    position: absolute;
    top: 5px;
    right: 7px;
    background: none;
    border: 1px solid rgba(70, 70, 70, 0.5);
    display: none;
    color: black;
    opacity: .4;
}
notification.has-close .btn-close-all {
    right: 38px;
}
notifications notification:first-child .content .item:first-child {
    padding-right: 125px;
}
notifications notification:first-child .btn-close-all {
    display: inline-block;
}
notifications notification:only-child .btn-close-all {
    display: none;
}
notifications notification:only-child .content .item:first-child {
    padding-right: 0px;
}
notifications notification.has-close:only-child .content .item:first-child {
    padding-right: 34px;
}
notification.remove, notification.remove:hover {
    -webkit-animation: notification-hide 0.24s cubic-bezier(0.33859, -0.42, 1, -0.22), notification-shrink 0.24s 0.24s cubic-bezier(0.5, 0, 0, 1);
    -webkit-animation-fill-mode: forwards;
    margin-bottom: 0;
}

notification .content .content-custom .btn-retry {
    top: 5px;
    right: 5px;
    padding: 0;
    position: absolute;
    background-color: transparent;
    border:none;
    opacity: .4;
}

notification .content .content-custom .btn-retry:hover {
    opacity: 1;
}

notification .content .content-custom  .content-retry-message {
    padding-right: 50px;
}
