.toolbar-view .mdc-toolbar__row {
  background-color: #21252b;
}

.toolbar-view .mdc-toolbar .mdc-tab-bar {
  width: 100%;
}

.toolbar-view .mdc-toolbar .mdc-tab-bar .mdc-tab:after {
  background-color: rgba(96, 192, 220, 1);
}

.toolbar-view .mdc-toolbar .mdc-tab-bar a i, .toolbar-view .mdc-tab-bar a span {
  color: white;
}

.toolbar-view .mdc-tab-bar a:hover {
  opacity: 0.5;
}

.toolbar-view .mdc-tab-bar .mdc-tab--active {
  cursor: default;
}

.toolbar-view .mdc-tab-bar .mdc-tab--active:hover {
  opacity: 0.87;
}
