.toolbar-view {
  background-color: #21252b;
}

.toolbar-view .mdl-layout__header-row {
  padding: 0 16px;
}

.toolbar-view button {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}

.toolbar-view button.delete {
  background-color: red;
}

.toolbar-view button.delete:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.toolbar-view button.add {
  background-color: green;
}

.toolbar-view button.add:hover {
  background-color: rgba(0, 120, 0, 0.8);
}
